@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yr";
  src: url('/yr.woff2') format('woff2'),
    url('/yr.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: yr;
}